.album {
  &-thumbnail {
    cursor: pointer;
    & > img {
      width: 300px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
  }
  &-name {
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
  }
}
